.headerContainer {
  height: 5rem;
  border-bottom: 1px solid var(--gray-800);
}

.headerContent {
  max-width: 1120px;
  height: 5rem;
  margin: 0 auto;
  padding: 0 2rem;

  display: flex;
  align-items: center;

  nav {
    margin-left: 5rem;
    height: 5rem;

    a {
      display: inline-block;
      position: relative;
      padding: 0 0.5rem;
      line-height: 5rem; //quando é do mesmo tamanho da altura, o texto fica no centro
      color: var(--gray-300);

      transition: color 0.2s;

      & + a { //todo <a> que tem um link antes dele
        margin-left: 2rem;
      }

      &:hover {
        color: var(--white);
      }

      &.active {
        color: var(--white);
        font-weight: bold;
      }

      &.active::after { //O after coloca algo depois do conteúdo da tag. (depois do texto Home, por exemplo)
        content: '';
        height: 3px;
        border-radius: 3px 3px 0 0;
        width: 100%;
        position: absolute;
        bottom: 1px;
        left: 0;
        background: var(--yellow-500);
      }
    }
  }

  button { //Esta estilização do botão do githut é devida ao contexto (que é o header). Apenas nesse contexto eu quero que o botão vá para a direita
    margin-left: auto;
  }
}